<!--     The Tour of Rezepte application displays a list of rezepte with a detail view.
    The user can select a hero and see that hero's details.
    I used *ngFor to display a list.
    I used used *ngIf to conditionally include or exclude a block of HTML.
    I can toggle a CSS style class with a class binding. -->

<!-- gericht component as parent -->

<h2>Meine Rezepte</h2>
<ul class="rezepte">
  <li *ngFor="let rezept of rezepte">
    <button
      [class.selected]="rezept === selectedRezept"
      type="button"
      (click)="onSelect(rezept)"
    >
      <span class="badge">{{ rezept.id }}</span>
      <span class="name">{{ rezept.name }}</span>
    </button>
  </li>
</ul>

<app-rezepte-detail [rezept]="selectedRezept"></app-rezepte-detail>
